<div class="mt-5">
    {{ form_start(offerPictureType) }}
    {{ form_row(offerPictureType.picture) }}
    <button type="submit" class="btn-submit">Ajouter l'image</button>
    {{ form_end(offerPictureType) }}
</div>