{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}
    {{survey.question}}
    {{ form_start(surveyForm) }}
        {{ form_row(surveyForm.clientResponse) }}
        <button type="submit">Submit</button>
    {{ form_end(surveyForm) }}
{% endblock %}
