<div class="h-100 flex flex-col items-center h-100 mt-16">
    <div class="flex flex-col justify-center mt-8">
        <h4>Voici les stats du sondage</h4>
        {% for stat in stats %}
            La réponse : {{stat.reponse}} à été répondue  {{stat.1}} fois<br>
        {% endfor %}
        <a href="{{ path('question_list') }}" class="cursor-pointer hover:font-bold">Retourner à la gestion des Sondages</a>
    </div>
</div>