{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}
    <div class="flex">
        <div class="items-center">
            <h4>Voici les stats pour le sondage : {{ question.question }}</h4>
            {% for stat in stats %}
                La réponse : {{stat.reponse}} à été répondue  {{stat.1}} fois<br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
