{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
    {{ form_start(questionForm) }}
        <button type="submit">submit</button>
    {{ form_end(questionForm) }}
{% endblock %}
