{% extends 'base.html.twig' %}

{% block title %}Hello PartnerController!{% endblock %}

{% block body %}
    {{ form_start(partnerForm) }}
        <button type="submit">Ajouter</button>
    {{ form_end(partnerForm) }}
{% endblock %}
