{% extends 'base.html.twig' %}

{% block title %}Hello PartnerController!{% endblock %}

{% block body %}
    <div style="bg-color: dark;">
        {{ form_start(partnerForm) }}
            <button type="submit">Ajouter</button>
        {{ form_end(partnerForm) }}
    </div>
{% endblock %}
