{% extends 'base.html.twig' %}

{% block title %}Hello PartnerController!{% endblock %}

{% block body %}
    <div style="background-color:dark;">
        {% for partner in partners %}
            {{partner.name}}
        {% endfor %}
    </div>
{% endblock %}
