{% extends 'base.html.twig' %}

{% block title %}Hello PartnerController!{% endblock %}

{% block body %}
    <div style="background-color:dark;">
        {% for partner in partners %}
            <div>
                {{partner.name}}
                {{partner.website}}
                {{partner.description}}
                {{partner.name}}
            </div>
        {% endfor %}
    </div>
{% endblock %}
