{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        {{ dump(offers) }}
        {% for offer in offers %}
            <div>
                {% for picture in offer.pictures %}
                    <img src="{{ picture.link }}">
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}