<div class="bg-third p-3">
    <h3 class="text-xl">Les règles du CSE</h3>
    <div>
        {{ about.rules }}
    </div>
</div>
<div>
    <h3 class="text-secondary text-xl">L'addresse email du CSE</h3>
    <p>{{ about.email }}</p>
</div>