@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .title {
        color: theme('colors.primary');
        text-align: center;
        font-size: 2rem;
    }

    input, textarea {
        border: 1px solid theme('colors.primary') ;
        color: theme('colors.primary');
        border-radius: 5px;
        margin-left: 0.5rem;
    }

    select{
        background: transparent;
        border: 1px solid theme('colors.primary');
        border-radius: 5px;
    }
}