{% extends 'base.html.twig' %}
{% block body %}
    <div class="h-100 flex flex-col items-center h-100 mt-16">
        <div class="absolute lg:top-16 lg:left-16 lg:text-xl top-2 left-2 text-md hover:font-bold hover:ease-in duration-200">
            <a href="{{ path('list_about') }}" class="text-primary flex justify-center"><span class="material-symbols-outlined text-md lg:text-2xl">arrow_back</span> Retour à la liste</a>
        </div>
        {% if app.request.attributes.get('_route') == 'create_action' %}
            <h1 class="title">Ajouter l'action</h1>
        {% endif %}
        {% if app.request.attributes.get('_route') == 'edit_action' %}
            <h1 class="title">Modifier l'action</h1>
        {% endif %}
        <div class="flex flex-col justify-center mt-8">
            {{ form_start(actionType, {'attr': {'class': 'space-y-5'}}) }}
            {{ form_row(actionType.action) }}
            {% if app.request.attributes.get('_route') == 'create_action' %}
                <button type="submit" class="btn">Ajouter une action</button>
            {% endif %}
            {% if app.request.attributes.get('_route') == 'edit_action' %}
                <button type="submit" class="btn">Modifier un membre</button>
            {% endif %}
            {{ form_end(actionType) }}
        </div>
    </div>
{% endblock %}