<div>
    <button type="button" x-on:click="open = ! open">Ajouter une image</button>
    <div x-show="open"
         class="w-2/4 h-auto bg-white mt-8 mx-auto border-2 border-primary rounded absolute inset-x-0 top-0 left-50 z-50 overflow-y-auto ">
        <div class="relative ">
            <button type="button" x-on:click="open = ! open" class="fixed top-0 right-0">Fermer</button>
            {{ render(controller("App\\Controller\\OfferController::addPicture", {"offer": offer.id})) }}
        </div>
    </div>
</div>